<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Certificate</title>
    <link rel="shortcut icon" href="images/favicon.png" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Philosopher:400,700|Roboto+Condensed'>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans|Pinyon+Script|Rochester');
    </style>

</head>

<body style="font-family: sans-serif;">
    <div style="padding: 32px; background-image: url('https://cultureholidays.com/Question/Greece%20Certificate/ri_1.jpeg'); background-position: center; background-size: 100% 100%; background-repeat: no-repeat; padding: 32px; ">
        <div style="border: 4px solid #1B489E; ">
            <table style="text-align: center; width: 100%;">
                <tbody>
                    <tr>
                        <td style=" color: #1B489E; font-weight: 500; font-size: 65px;">CERTIFICATE</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 500; font-size: 26px;">OF COMPLETION</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td><img src="https://cultureholidays.com/Question/Greece%20Certificate/<%= countrybatchname %>.png" style=" margin-left: 38px; width: 200px; float: left;" /></td>
                        <td>
                            <table>
                                <tbody style="line-height:4">
                                    <tr>
                                        <td style="text-decoration: underline; font-weight: bold; font-size: 26px;"><%= countryname %> Expert Training</td>
                                    </tr>
                                    <tr>
                                        <td style="line-height: 2;">
                                            This is to certify that <strong><%= agentname %></strong> has successfully completed the
                                            <%= countryname %> Expert Training Program with Flying Colors!
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: 800; font-size: 18px;line-height:1">
                                            Your Expertise, Your Passport:
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="line-height: 1.7;">
                                            This certificate isn't just a recognition—it's your passport to a world of
                                            possibilities. As a Certified <%= countryname %> Destination Expert, you are now
                                            equipped to guide, inspire, and lead others through the wonders of <%= countryname %>.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table style=" margin-bottom: 20px; margin-top: 23px; text-align: center; width: 100%;">
                <tbody>
                    <tr>
                        <td><%= date %></td>
                        <td><img src="https://cultureholidays.com/Content/images/logo-black.png" style="width: 170px; margin-left: 11%;" /></td>
                        <td style="justify-items: anchor-center;"><img src="https://cultureholidays.com/Question/Greece%20Certificate/t0.png" style="width: 51px;" /> <br /><hr style="background: #000; width: 40%;" /> Head of Training</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>